.chosen {

    &-results {
        background: $white;
        border-radius: 3px;
        box-shadow: 5px 5px 10px rgba($dark,0.2);
        display: none;
        padding: 8px 25px;
        position: absolute;
        z-index: 1020;
    }

    &-drop ul {
        list-style-type: none;
    }

    &-with-drop {
        .chosen-results {
            display: block;
        }
    }
    &-container {

        .chosen-results li {
            cursor: pointer;
        }

        .chosen-results li.highlighted {
            color: $tertiary-color;
        }

        .chosen-results li.level-0 {
            font-weight: 700;
            cursor: pointer;
            display:list-item;
        }

        .chosen-results li.level-0:hover {
            color: $tertiary-color;
        }

        .chosen-drop {
            border: none;
            border-radius: 0;
            border-top: 0;
            margin-top: -1px;
        }
    }

    &-results {
        color: $dark;
    }
}